.div {
  font-size: 12px;
}

.oneDishCard {
  margin-top: 100px;
  margin-bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;

  h3 {
    padding-bottom: 10px;
  }

  p {
    margin-top: 20px;
    text-align: justify;
  }

}