@import "src/style/bootstrap.min";









.flex-shrink-0 {
  flex-shrink: 0 !important
}

.gap-3 {
  gap: 1rem !important
}

.text-white {
  color: #fff !important
}

.bg-dark {
  background-color: #212529 !important
}
